{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <article class="flashMessages">
            <ul class="flashList">
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
        </article>

    {% endif %}
    {% endwith %}
    <section class="mainContainer">
        {% include "aside.html" %}
        <section class="recent">

            <h4>Recently Added Items</h4>

            {% for item in recent %}
            <article class="recentItem">
                <p>{{ item.name }} ( <em>{{ item.brewery.name }}</em> )</p>
            </article>
            {% endfor %}
            
        </section>
        <div class="create">
            <a class="createLink" href="{{ url_for('create_brewery') }}">
                <i class="far fa-plus-square"></i>
                <span>Create New Brewery</span>
            </a>
        </div>
    </section>


{% endblock %}
