{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <section>
        <a href="{{ url_for('create_brewery', user = user) }}"><i class="far fa-plus-square"></i></a>
    </section>

    {% for i in brewery %}
    <section>
        <a href="#">
            <article>
                {{ i.name }}
            </article>
        </a>
    </section>
    {% endfor %}

{% endblock %}
