{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}

    <h3>Update the information for: {{ beer.name }}</h3>
    <form method="POST" action="{{ url_for('update_beer', brewery_id=brewery.id, beer_id = beer.id) }}" id="updateBeer" class="form">
        <label for="name">Change Beer Name:</label>
        <input class="name" type="text" name="name">

        <label for="style">Change Beer Style:</label>
        <input class="style" type="text" name="style">

        <label for="description">Change Beer Description:</label>
        <textarea class="description" type="text" name="description"></textarea>

        <input type="submit" value="Update" name="update">
    </form>

{% endblock %}
